@import "src/prebuild/scss/variables";
@import "src/prebuild/scss/mixins";

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 30px;
  margin-bottom: 7px;

  &__tabs {
    display: flex;
  }

  &__tab:not(:last-child) {
    margin-right: 15px;
  }

  & .active {
    background-color: $primary;
    color: $color_white;
  }
}