@import "src/prebuild/scss/variables";

.root {
  &__cities {
    position: absolute;

    width: 60%;

    padding: 10px;

    border: 1px solid rgba($color-gray, .3);
    border-radius: $border-radius;
    outline: 1px solid rgba($color-gray, .1);

    box-shadow: $card-shadow;

    background-color: var(--component-background-default);
    color: var(--text-color-default);

    z-index: 2;

    &_item:not(:last-child) {
      margin-bottom: 5px;
    }

    &_item {
      cursor: pointer;
    }
  }
}