@import "src/prebuild/scss/variables";
@import "src/prebuild/scss/mixins";

.root {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 200px;

  padding: 11px;

  background: var(--dayCard-background-default);
  border-radius: 10px;

  transition: box-shadow .3s;

  &:hover {
    box-shadow: var(--dayCard-boxShadow-default);
  }

  svg {
    width: 48px;
    height: 48px;

    margin-bottom: 12px;
  }
}