@import "src/prebuild/scss/variables";

.root {
  grid-area: Actions;

  position: relative;

  align-items: center;

  &__theme, &__lang, &__favorite {
    margin-right: 20px;

    border: none;

    background-color: inherit;

    cursor: pointer;
  }

  &__lang {
    text-transform: uppercase;

    color: var(--text-color-default);
  }
}